<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Project</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" formControlName="project" [ngClass]="{ 'is-invalid': validateControls && formControls.project.errors }"
        [disableControl]="true">
      <div *ngIf="validateControls && formControls.project.errors" class="invalid-feedback">
        <div *ngIf="formControls.project.errors.required">Project id is required</div>
      </div>
    </div>

    <div class="col-sm-1">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#projectSearchModal">Search</button>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Task</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="task" formControlName="task" [ngClass]="{ 'is-invalid': validateControls && formControls.task.errors }">
    </div>
    <div *ngIf="validateControls && formControls.task.errors" class="invalid-feedback">
      <div *ngIf="formControls.task.errors.required">Task is required</div>
    </div>
  </div>


  <div class="form-group row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="gridCheck" formControlName="parentTask">
        <label for="gridCheck" class="form-check-label">
          Parent Task
        </label>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Priority</label>
    <div class="col-sm-5">
      <input type="range" class="form-control-range" min="0" max="30" value="0" formControlName="priority" [ngClass]="{ 'is-invalid': validateControls && formControls.priority.errors }">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Parent Task</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" formControlName="parentTaskDesc" [ngClass]="{ 'is-invalid': validateControls && formControls.parentTaskDesc.errors }"
        [disableControl]="true">
      <div *ngIf="validateControls && formControls.parentTaskDesc.errors" class="invalid-feedback">
        <div *ngIf="formControls.parentTaskDesc.errors.required">Parent task is required</div>
      </div>
    </div>

    <div class="col-sm-1">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#taskSearchModal" [disabled]="formControls.parentTask.value">Search</button>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Start Date</label>
    <div class="col-sm-2">
      <input type="date" class="form-control" formControlName="startDate" [ngClass]="{ 'is-invalid': validateControls && formControls.startDate.errors }">
      <div *ngIf="validateControls && formControls.startDate.errors" class="invalid-feedback">
        <div *ngIf="formControls.startDate.errors.required">Start date is required</div>
      </div>
    </div>

    <label class="col-sm-1 col-form-label">Start Date</label>
    <div class="col-sm-2">
      <input type="date" class="form-control" formControlName="endDate" [ngClass]="{ 'is-invalid': validateControls && formControls.endDate.errors }">
      <div *ngIf="validateControls && formControls.endDate.errors" class="invalid-feedback">
        <div *ngIf="formControls.endDate.errors.required">End date is required</div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">User</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" formControlName="userName" [ngClass]="{ 'is-invalid': validateControls && formControls.userName.errors }"
        [disableControl]="true">
      <div *ngIf="validateControls && formControls.userName.errors" class="invalid-feedback">
        <div *ngIf="formControls.userName.errors.required">User id is required</div>
      </div>
    </div>

    <div class="col-sm-1">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#userSearchModal" [disabled]="formControls.parentTask.value">Search</button>
    </div>

  </div>

  <div class="form-group row">
    <div class="col-sm-2" *ngIf="!updateBtn">
      <button type="button" class="btn btn-primary btn-block" (click)="onAddTask()">Add</button>
    </div>
    <div class="col-sm-2" *ngIf="updateBtn">
      <button type="button" class="btn btn-primary btn-block" (click)="onUpdateTask()">Update</button>
    </div>

    <div class="col-sm-2">
      <button type="reset" class="btn btn-primary btn-block" (click)="onReset()">Reset</button>
    </div>
  </div>

</form>


<!-- Project Search Modal -->
<div class="modal fade" id="projectSearchModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Search Projects</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group" id="projectList">
          <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let project of projectList">
            <button type="button" class="list-group-item list-group-item-action" data-dismiss="modal" (click)="onProjectSelected(project)">{{project.project}}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- User Search Modal -->
<div class="modal fade" id="userSearchModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Search Users</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group" id="userList">
          <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let user of userList">
            <button type="button" class="list-group-item list-group-item-action" data-dismiss="modal" (click)="onUserSelected(user)">{{user.firstName}}
              {{user.lastName}}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Task Search Modal -->
<div class="modal fade" id="taskSearchModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Search Tasks</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="list-group" id="userList">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let task of taskList">
              <button type="button" class="list-group-item list-group-item-action" *ngIf="task.parentTask" data-dismiss="modal" (click)="onTaskSelected(task)">{{task.task}}
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>