<form [formGroup]="userForm">

  <div class="form-group row">
    <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="firstName" formControlName="firstName" [ngClass]="{ 'is-invalid': validateControls && formControls.firstName.errors }">
    </div>
    <div *ngIf="validateControls && formControls.firstName.errors" class="invalid-feedback">
      <div *ngIf="formControls.firstName.errors.required">First Name is required</div>
    </div>
  </div>

  <div class="form-group row">
    <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="lastName" formControlName="lastName" [ngClass]="{ 'is-invalid': validateControls && formControls.lastName.errors }">
    </div>
    <div *ngIf="validateControls && formControls.lastName.errors" class="invalid-feedback">
      <div *ngIf="formControls.lastName.errors.required">Last Name is required</div>
    </div>
  </div>

  <div class="form-group row">
    <label for="employee_Id" class="col-sm-2 col-form-label">Employee Id</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="employee_Id" formControlName="employee_Id" [ngClass]="{ 'is-invalid': validateControls && formControls.employee_Id.errors }">
    </div>
    <div *ngIf="validateControls && formControls.employee_Id.errors" class="invalid-feedback">
      <div *ngIf="formControls.employee_Id.errors.required">Employee Id is required</div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2" *ngIf="!updateBtn">
      <button type="button" class="btn btn-primary btn-block" (click)="onAddUser()">Add</button>
    </div>
    <div class="col-sm-2" *ngIf="updateBtn">
      <button type="button" class="btn btn-primary btn-block" (click)="onUpdateUser()">Update</button>
    </div>

    <div class="col-sm-2">
      <button type="reset" class="btn btn-primary btn-block" (click)="onReset()">Reset</button>
    </div>
  </div>

</form>

<hr>

<form>

  <div class="form-group row">

    <div class="col-sm-4">
      <input type="text" class="form-control" [(ngModel)]="searchText" name="searchText" placeholder="Search..">
    </div>

    <div class="col-sm-1">
      <label class="col-form-label">Sort By</label>
    </div>

    <div class="col-sm-2">
      <button type="button" class="btn btn-primary btn-block" (click)="onSortByFname()">First Name</button>
    </div>

    <div class="col-sm-2">
      <button type="button" class="btn btn-primary btn-block" (click)="onSortByLname()">Last Name</button>
    </div>

    <div class="col-sm-2">
      <button type="button" class="btn btn-primary btn-block" (click)="onSortById()">Id</button>
    </div>

  </div>
</form>

<ul class="list-group" id="userList">
  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let user of userList | sortUser:sortOrder | filterUser: searchText">
    <app-user-list-item [userData]="user" (reloadUser)="getUsers()" (userSelected)="onUserSelected($event)"></app-user-list-item>
  </li>
</ul>