<form [formGroup]="viewTaskForm" (ngSubmit)="onSubmit()">

  <div class="form-group row">

    <div class="form-group row">
      <label class="col-sm-1 col-form-label">Project</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" formControlName="project"
          [ngClass]="{ 'is-invalid': validateControls && formControls.project.errors }" [disableControl]="true">
      </div>

      <div class="col-sm-1">
        <button type="button" class="btn btn-primary" data-toggle="modal"
          data-target="#projectSearchModal">Search</button>
      </div>

    </div>
  </div>
</form>

<ul class="list-group" id="taskList">
  <li class="list-group-item d-flex justify-content-between align-items-center"
    *ngFor="let task of taskList | sortTask:sortOrder">
    <app-view-task-list-item [taskList]="taskList" [taskData]="task"
      *ngIf="task.project_Id === formControls.project_Id.value">
    </app-view-task-list-item>
  </li>
</ul>


<!-- Project Search Modal -->
<div class="modal fade" id="projectSearchModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Search Projects</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group" id="projectList">
          <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let project of projectList">
            <button type="button" class="list-group-item list-group-item-action" data-dismiss="modal"
              (click)="onProjectSelected(project)">{{project.project}}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>